<h1>Archispec#about_us</h1>
<p>Find me in app/views/archispec/about_us.html.erb</p>


<p>Design and construction materials, technologies, and methods continue to advance. Stricter guidelines and codes for chemicals and energy have come into play. The mix between new laws and products can create a challenge for architects and specifiers in many capacities.</p>

<p>Coming off the heels of the inaugural ArchiSpec, we have developed an intimate agenda that provides a venue to discuss both the challenges and opportunities faced by the architecture and construction specification industry today. This private, leadership event offers a variety of presentations, panels, and roundtables with topics including LEED v4, Specifying Cutting Edge Building Materials, Alternative Methods of Project Delivery, and Specifying with BIM.</p>

<p>ArchiSpec 2013 will take place at the Westin Savannah Harbor Golf Resort in beautiful Savannah, Georgia. Generate new ideas. Develop new relationships. Discover new building materials. We look forward to meeting you for three days of knowledge exchange and networking in this one-of-a-kind atmosphere!</p>